<!DOCTYPE html>
<html>
  <head>
    <title>Face Recog Smart E School</title>
    <!-- Add Bootstrap CSS link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    ></link>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Face Recog Smart E School</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="phoneNumber" class="form-label">WhatsApp Pribadi:</label>
            <input
              type="text"
              class="form-control"
              name="phoneNumber"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="phoneNumberParent" class="form-label">WhatsApp Orang Tua:</label>
            <input
              type="text"
              class="form-control"
              name="phoneNumberParent"
              required
            />
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name" class="form-label">Nama:</label>
            <input type="text" class="form-control" name="name" required />
          </div>
          <div class="col-md-6 mb-3">
            <label for="sex" class="form-label">Jenis Kelamin:</label>
            <select class="form-select" name="sex" required>
              <option value="0">Laki-laki</option>
              <option value="1">Perempuan</option>
            </select>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="birthday" class="form-label">Tanggal Lahir:</label>
            <input type="date" class="form-control" name="birthday" required />
          </div>
          <div class="col-md-6 mb-3">
            <label for="className" class="form-label">Kelas: (Contoh: XII-SIJA-1 atau XI-1 atau X-A)</label>
            <input
              type="text"
              class="form-control"
              name="className"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="birthday" class="form-label">Tanggal Lahir:</label>
            <input type="date" class="form-control" name="birthday" required />
          </div>
          <div class="col-md-6 mb-3">
            <label for="className" class="form-label">Kelas: (Contoh: XII-SIJA-1 atau XI-1 atau X-A)</label>
            <input
              type="text"
              class="form-control"
              name="className"
              required
            />
          </div>
        </div>

        
        
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card">
              <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Foto_Formal_Sudharmono.jpg" class="card-img-top" style="object-position: center; object-fit: contain;" height="200" alt="contoh foto">
              <div class="card-body">
                <h5 class="card-title">Contoh</h5>
                <p class="card-text">Ini adalah contoh gambar yang diharapkan. Pastikan gambar mengikuti ketentuan yang telah disebutkan.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="image" class="form-label">Image: (Harus: Lepas Kacamata, Lepas Masker, Lepas Aksesoris Wajah)</label>
            <input type="file" class="form-control" name="image" required />
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
    
    <!-- Add Bootstrap JS and Popper.js links if needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>
